* {
  margin: 0px;
  padding: 0px;
  color: #fff;
}
header,
section,
footer,
aside,
nav,
article,
figure,
figcaption,
hgroup {
  display: block;
}
h1 {
  font-family: verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
h2 {
  font-family: verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #c8c8c8;
}
a {
  color: #b4b4b4;
  text-decoration: none;
}
body {
  text-align: center;
  background: #fff;
}
.contenedor-main {
  width: 100%;
  margin: auto;
  text-align: left;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
.contenedor {
  display: block;
}
.contenedor-left {
  display: inline-block;
  background: #002500;
  width: 150px;
  position: absolute;
  left: 0;
  z-index: 1666;
}
.contenedor-right {
  display: block;
  margin-left: 150px;
  padding: 0;
  min-height: 500px;
  background-color: #202020;
  background-image: -webkit-linear-gradient(top, #202020 80%, #fdfdfd 100%);
  background-image: -moz-linear-gradient(top, #202020 80%, #fdfdfd 100%);
  background-image: -ms-linear-gradient(top, #202020 80%, #fdfdfd 100%);
  background-image: -o-linear-gradient(top, #202020 80%, #fdfdfd 100%);
  background-image: linear-gradient(top, #202020 80%, #fdfdfd 100%);
}
.cabecera {
  display: block;
  background: #000;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  width: 98%;
  padding: 1%;
  clear: both;
}
.cabecera .title {
  display: inline-block;
  width: 60%;
}
.cabecera .tooltips {
  display: inline-block;
  width: 38%;
  overflow: hidden;
  border: 1px dashed #fdfdfd;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  -ms-border-radius: 10px 10px;
  -o-border-radius: 10px 10px;
  border-radius: 10px 10px;
  background-color: #fff;
}
.menu {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  width: 100%;
}
.menu ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
  line-height: 0.5em;
  list-style: none outside none;
}
.menu ul li {
  overflow: hidden;
}
.menu ul li a {
  line-height: normal;
  font-size: 14px;
  padding: 10px 10px 10px 11px;
  display: block;
  font-weight: 400;
  text-decoration: none !important;
  position: relative;
  color: #b4b4b4;
}
.menu ul li a b {
  position: absolute !important;
  right: 10px;
  top: 10px;
}
.menu ul ul {
  margin: 0px;
  padding: 7px 0px;
  background-color: #005000;
}
.menu ul ul li {
  margin: 0px;
  padding: 0px;
}
.menu ul ul > a {
  padding-left: 42px;
  font-size: 14px;
  font-weight: 400;
  outline: 0px none;
}
.menu > ul > li > ul > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}
.menu ul li li {
  border-bottom: 0px none;
  position: relative;
}
ul#ul-arbol,
ul#ul-arbol ul {
  list-style-type: none;
  background: url("../images/linea_vertical.gif") repeat-y;
}
ul#ul-arbol ul,
ul#ul-arbol ul ul {
  margin-left: 5px;
  list-style-type: none;
}
ul#ul-arbol li,
ul#ul-arbol ul li {
  padding: 0 10px;
  background: url("../images/nodo.gif") no-repeat;
}
ul#ul-arbol li .cierre,
ul#ul-arbol ul li .cierre {
  background: #000 url("../images/cierre.gif") left top no-repeat;
}
.top-bar {
  display: block;
  width: 100%;
  height: 30px;
  background: #202020;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0px 3px 3px #fff;
  -moz-box-shadow: 0px 3px 3px #fff;
  -ms-box-shadow: 0px 3px 3px #fff;
  -o-box-shadow: 0px 3px 3px #fff;
  box-shadow: 0px 3px 3px #fff;
}
.breadcumbs {
  display: inline-block;
  list-style: none outside none;
  margin-left: 5px;
  padding: 5px 34px 5px 0px;
  color: #fff;
  background: none repeat scroll 0px 0px transparent;
  vertical-align: top;
}
.breadcumbs >li {
  display: inline-block;
}
.breadcumbs + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
.contenido {
  padding: 10px 14px;
  position: relative;
  display: block;
  left: 0px;
  overflow: hidden;
}
.seccion {
  display: block;
  width: 100%;
  float: left;
}
.seccion hgroup {
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #000;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  -ms-border-radius: 10px 10px;
  -o-border-radius: 10px 10px;
  border-radius: 10px 10px;
  line-height: 1.5em;
  -webkit-box-shadow: 3px 2px 10px #002500 inset;
  -moz-box-shadow: 3px 2px 10px #002500 inset;
  -ms-box-shadow: 3px 2px 10px #002500 inset;
  -o-box-shadow: 3px 2px 10px #002500 inset;
  box-shadow: 3px 2px 10px #002500 inset;
}
.seccion hgroup small {
  font-style: italic;
}
.seccion hgroup .menu-sec {
  float: right;
  vertical-align: middle;
  height: 100%;
}
.seccion hgroup .menu-sec ul {
  text-decoration: none;
}
.seccion hgroup .menu-sec ul li {
  display: inline;
  margin: 5px;
}
.seccion article {
  padding: 20px;
  margin-bottom: 15px;
  display: inline-block;
  width: 60%;
  -webkit-box-shadow: -3px 0px 5px #fff;
  -moz-box-shadow: -3px 0px 5px #fff;
  -ms-box-shadow: -3px 0px 5px #fff;
  -o-box-shadow: -3px 0px 5px #fff;
  box-shadow: -3px 0px 5px #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.seccion article footer {
  text-align: right;
}
.seccion article form {
  padding: 5px 25px;
}
.seccion article.master {
  width: 98%;
}
.seccion aside {
  display: inline-block;
  width: 30%;
  background-color: #fff;
  -webkit-box-shadow: -3px 0px 5px #fff;
  -moz-box-shadow: -3px 0px 5px #fff;
  -ms-box-shadow: -3px 0px 5px #fff;
  -o-box-shadow: -3px 0px 5px #fff;
  box-shadow: -3px 0px 5px #fff;
  vertical-align: top;
}
.pie {
  width: 100%;
  clear: both;
  position: relative;
  display: block;
  background: #ccc;
  vertical-align: middle;
  text-align: center;
  background: #c8c8c8;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  bottom: 0px;
}
/*	
	border 1px solid #999999
	*/
.row {
  display: block;
}
@media (min-width: 1000px) {
  .row label {
    display: inline-block;
    width: 18%;
    text-align: right;
    padding-right: 10px;
    color: #c8c8c8;
    margin-right: 10px;
  }
  .row input,
  .row .spinner {
    display: inline-block;
    width: 60%;
    margin-left: 20px;
    padding-left: 10px;
  }
}
@media (min-width: 600px) {
  .row label {
    display: inline-block;
    width: 10%;
    text-align: right;
    padding-right: 10px;
    color: #c8c8c8;
  }
  .row input,
  .row .spinner {
    display: inline-block;
    width: 60%;
    margin-left: 5px;
  }
}
input {
  color: #000;
}
select {
  color: #000;
}
input.valid {
  border-color: none !important;
  background-color: none !important;
}
input.error {
  border-color: #f89384;
  background-color: #f89384;
}
label.valid {
  width: 24px;
  height: 24px;
  background: url("../images/valid.png") center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: #f89384;
  padding: 2px 8px;
  margin-top: 2px;
}
.col-3,
.col-6 {
  display: inline-block;
  position: relative;
}
.col-3 {
  width: 24%;
}
.col-6 {
  width: 48%;
}
.block {
  border: 1px solid #000;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.block .col-main {
  display: inline-block;
  width: 40%;
}
.block .col-secondary {
  display: inline-block;
  width: 58%;
}
time {
  color: #999;
}
figcaption {
  font: italic 14px verdana, sans-serif;
}
.panel {
  display: block;
}
.panel-header {
  display: block;
}
.panel-header .menu-operaciones {
  float: right;
}
.panel-body {
  display: block;
  color: #000;
}
.btn {
  background: #323232;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 2px 2px 2px 5px;
  display: inline-block;
}
.todo-list {
  margin: 0;
  padding: 0px 0px;
  list-style: none;
}
.todo-list > li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  -ms-border-radius: 10px 10px;
  -o-border-radius: 10px 10px;
  border-radius: 10px 10px;
  padding: 10px;
  background-color: #000;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444;
}
.todo-list > li:last-of-type {
  margin-bottom: 0;
}
.todo-list > li.danger {
  border-left-color: #f56954;
}
.todo-list > li.warning {
  border-left-color: #f39c12;
}
.todo-list > li.info {
  border-left-color: #00c0ef;
}
.todo-list > li.success {
  border-left-color: #00a65a;
}
.todo-list > li.primary {
  border-left-color: #3c8dbc;
}
.todo-list > li > input[type='checkbox'] {
  margin: 0 10px 0 5px;
}
.todo-list > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}
.todo-list > li .label {
  margin-left: 10px;
  font-size: 9px;
}
.todo-list > li .tools {
  display: none;
  float: right;
  color: #f56954;
}
.todo-list > li .tools > .fa,
.todo-list > li .tools > .glyphicon,
.todo-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}
.todo-list > li:hover .tools {
  display: inline-block;
}
.todo-list > li.done {
  color: #999;
}
.todo-list > li.done .text {
  text-decoration: line-through;
  font-weight: 500;
}
.todo-list > li.done .label {
  background: #eaeaec !important;
}
.todo-list .handle {
  display: inline-block;
  cursor: move;
  margin: 0px 5px;
}
form {
  padding: 2px;
}
form .row {
  display: block;
  padding: 5px 0px 5px 10px;
}
form .footer {
  margin: 10px 0px 0px 10px;
  bottom: 0px;
  width: 100%;
}
form .footer input {
  display: inline;
}
.progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 0.5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}
.small.progress {
  font-size: 6px;
}
.large.progress {
  font-size: 24px;
}
.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em;
  width: 0.5em;
  height: 1.5em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #eee;
  -webkit-box-shadow: 0 3.5em #eee;
  -moz-box-shadow: 0 3.5em #eee;
  -ms-box-shadow: 0 3.5em #eee;
  -o-box-shadow: 0 3.5em #eee;
  box-shadow: 0 3.5em #eee;
  -webkit-transform-origin: 50% 2.5em;
  -moz-transform-origin: 50% 2.5em;
  -ms-transform-origin: 50% 2.5em;
  -o-transform-origin: 50% 2.5em;
  transform-origin: 50% 2.5em;
}
.progress:before {
  background: #555;
}
.progress:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #777;
}
.progress > div:before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background: #999;
}
.progress > div:after {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.coordenadas {
  color: #000;
  display: block;
}
.coordenadas dd {
  color: #000;
}
.coordenadas dt {
  color: #000;
}
